.about {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.about_img {
  margin-top: 30px;
}

.about_img img {
  max-width: 380px;
  width: 100%;
}

.about_title {
  font-family: Pretendard-Light;
  margin: 1rem 0rem 2rem 2rem;
}

.about_title h1 {
  font-size: 60px;
  font-family: ivypresto-display, serif;
  font-weight: 300;
}

.about_title p {
  max-width: 480px;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 160%;
}

.about_title h2 {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 2rem 0rem 0.5rem 0rem;
  font-weight: normal;
}

.emoji_flex {
  display: flex;
}

.emoji_flex p {
  margin: 5px;
}

.arrow {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Contact form --------------------------------- */

.container {
  margin-top: 80px;
  border-top: 0.5px solid #d6dee9;
  background: #eceff3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard-Regular;
}

form {
  background: rgb(255, 255, 255);
  padding: 2vw 4vw;
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  font-family: ivypresto-display, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  color: var(--text-color);
  margin-bottom: 20px;
}

form input,
form textarea {
  font-family: Pretendard-Regular;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid var(--accent-color);
}

form button {
  padding: 15px;
  background: var(--accent-color);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100%;
  margin: 20px auto 0;
  border-radius: 4px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .about {
    width: 90%;
    display: block;
    margin: auto;
  }

  .about_title p {
    font-size: 18px;
    line-height: 145%;
    max-width: none;
  }

  .about_title h1 {
    margin-top: 20px;
    font-size: 50px;
  }

  .about_title {
    width: 100%;
    min-width: 40%;
    padding: 1rem;
    margin: auto;
  }

  .container {
    margin-top: 20px;
  }

  .about_img img {
    border-radius: 60px;
    max-width: 320px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
  }

  form {
    padding: 20px;
    margin: 20px;
  }

  form h3 {
    font-family: ivypresto-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 20px;
  }
}
