.drawing_section {
  width: 100%;
  height: 100%;
  background-color: #10151b;
  color: var(--white-text-color);
  text-align: center;
}

.creation_heading h1 {
  max-width: 1300px;
  margin: auto;
  font-size: 24px;
  font-family: ivypresto-display, serif;
  font-weight: 400;
  padding: 120px 0px 20px 0px;
  color: var(--white-text-color);
}

.creation_heading p {
  font-family: Pretendard-Light;
  margin-bottom: 50px;
}

.drawing_container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 2rem;
}

/* 1행 이미지 */
.drawing_container .row1 {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/* 2행 이미지 */
.drawing_container .row2 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.3fr 1.1fr 1.4fr;
  grid-template-rows: auto;
  padding-bottom: 2rem;
}

/* 이미지 확대 효과 */
.myDrawings {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.myDrawings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 4.5s ease; /* transform 속성에 대한 0.3초 동안의 전환 효과를 추가 */
}

.myDrawings:hover img {
  transform: scale(1.2); /* hover 시 이미지 크기를 1.2배로 확대 */
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .drawing_container {
    width: 90%;
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .drawing_container .row1,
  .drawing_container .row2 {
    gap: 1rem;
  }

  .drawing_container .row2 {
    grid-template-columns: 1fr;
  }

  .navbar {
    background-color: #fff;
  }
}
