/* Font Face --------------------------------- */

@font-face {
  font-family: Pretendard-Light;
  src: url('./fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('./fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Medium;
  src: url('./fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Bold;
  src: url('./fonts/Pretendard-Bold.woff') format('woff');
}



/* Colours --------------------------------- */

:root {
  --text-color: #222327;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #3f93fa;
}

/* Default --------------------------------- */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Nav --------------------------------- */

.nav_logo img {
  width: 34px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  background-color: transparent;
}

.nav_menu {
  display: flex;
  font-family: Pretendard-Regular;
  font-size: 17px;
  left: 0;
}

.nav_menu li {
  margin: 22px 0px;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.nav_menu li a {
  color: rgb(164, 164, 168);
  text-decoration: none;
  padding: 22px;
}

.nav_menu li a:hover {
  color: var(--text-color);
}

.nav_menu a.active {
  color: var(--text-color);
}

/* Hamburger Menu*/

.navbar_toggleBtn {
  display: none;
  right: 5%;
  font-size: 24px;
}

/* Hero --------------------------------- */

.hero {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff, #f3f6fc, #e5effa);
}

.hero_container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.hero_container span {
  font-weight: 100;
  color: var(--text-color);
}

.hero_heading {
  color: var(--accent-color);
  font-size: clamp(70px, 6vw, 6vw);
  font-family: ivypresto-display, serif;
  font-weight: 400;
  line-height: 130%;
}

.main_title {
  font-family: Pretendard-Light;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--text-color);
  margin-top: 3%;
}

.project_arrow {
  margin-top: 60px;
  cursor: pointer;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Project --------------------------------- */

.project_section {
  font-family: Pretendard-Light;
  background-color: #fff;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 80px 30px;
}

.heading h1 {
  margin: auto;
  font-size: 30px;
  font-family: ivypresto-display, serif;
  font-weight: 400;
  color: var(--text-color);
  margin-right: 270px;
}

.project_container {
  display: inline-block;
  max-width: 800px;
}

.project_1 img,
.project_2 img {
  width: 100%;
  border-radius: 12px;
}

.project_dis {
  margin: 10px 0px 80px 0;
}

.project_title:first-child {
  color: var(--text-color);
  font-family: Pretendard-Regular;
  font-size: 30px;
  margin-bottom: 12px;
}

.project_dis p {
  color: var(--text-color);
  font-size: 17px;
}

/* Branding --------------------------------- */
.logo_section {
  background-color: #fff;
  padding-bottom: 60px;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
}

.logo_container {
  width: 100%;
  display: grid;
  padding-bottom: 4rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 800px;
}

.myLogos {
  width: 100%;
  text-align: center;
  border-radius: 12px;
}

/* Footer --------------------------------- */

.social_link,
.copyright {
  font-family: Pretendard-Regular;
  font-size: 15px;
  color: #c8c9cb;
  text-align: center;
  letter-spacing: 0.4px;
}

.social_link svg {
  width: 24px;
  height: 24px;
  margin: 1rem;
}

.copyright {
  margin: 2rem;
}

.footer {
  padding: 4rem;
  background-color: #fff;
}

.mail path:hover {
  fill: var(--accent-color);
}

/* 페이드 효과 */
.top_fadeIn {
  animation-name: example;
  animation-duration: 2s;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.bottom_fadeIn {
  animation-name: example2;
  animation-duration: 2s;
  position: relative;
  opacity: 0; /* 초기에 투명도를 0으로 설정 */
  top: 30px; /* 초기에 상단으로 이동한 상태로 설정 */
  animation-fill-mode: forwards; /* 애니메이션이 끝난 후 상태를 유지하도록 설정 */
}

/* 각 요소에 대한 지연 시간을 설정하여 순차적으로 나타나도록 함 */
.bottom_fadeIn:nth-child(1) {
  animation-delay: 0.2s;
}
.bottom_fadeIn:nth-child(2) {
  animation-delay: 0.4s;
}
.bottom_fadeIn:nth-child(3) {
  animation-delay: 0.6s;
}
/* ... 추가적인 요소에 대한 지연 시간 설정 */

@keyframes example2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.myLogos:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.altCaption {
  width: 70%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #ffffff;
  padding: 10px;
  font-family: Pretendard-Light;
  font-size: 17px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.image-container:hover .altCaption {
  opacity: 1;
}

.modal-content {
  width: 600px;
  height: auto;
  text-align: center;
}

#caption {
  color: #ffffff;
  padding: 10px 0;
  font-family: Pretendard-Light;
  font-size: 17px;
}

/* The Modal (background) */
.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  /* Nav --------------------------------- */

  .nav_logo img {
    width: 30px;
  }

  /* Hamburger Menu*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-top: 1px solid var(--border1-color);
    top: 100%;
    width: 100%;
    background-color: #fff;
  }

  .nav_menu.active {
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 10rem 0rem;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_toggleBtn {
    width: 34px;
    height: 34px;
    display: block;
  }

  .navbar_toggleBtn .line1,
  .navbar_toggleBtn .line3 {
    transition: transform 0.3s;
    transform-origin: center;
  }
  .navbar_toggleBtn.active .line1 {
    transform: rotate(45deg) translateY(11px) translateX(0px);
  }

  .navbar_toggleBtn.active .line3 {
    transform: rotate(-45deg) translateY(-11px) translateX(0px);
  }

  .navbar_toggleBtn.active .line2 {
    display: none;
  }

  /* modal */
  .modal-content {
    width: 80%;
  }

  /* Hero --------------------------------- */

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30% 6%;
    height: 100vh;
  }

  .hero_container {
    display: block;
  }

  .hero_heading {
    font-size: 46px;
    font-weight: 500;
  }

  .main_title {
    margin: 0;
  }

  .main_title p {
    margin: 30px 0px;
  }

  /* Project --------------------------------- */
  .project_section {
    display: block;
    padding: 0px 20px;
  }

  .project_container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .heading h1 {
    font-size: 28px;
    margin-right: 0;
  }

  .project_title:first-child {
    font-size: 20px;
  }

  .project_dis {
    margin: 10px 0px 0px 0px;
  }

  .project_1 {
    margin-bottom: 40px;
  }

  .heading h1 {
    padding: 80px 0px 30px 0px;
  }

  /* Branding --------------------------------- */

  .modal-content {
    width: 80%;
  }

  .logo_section {
    display: grid;
    padding: 0px 20px;
  }

  .logo_container {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* Footer --------------------------------- */
  .mail path {
    fill: #101010;
  }

  .copyright {
    margin: 1rem 0rem;
  }
}
