/* Font Face --------------------------------- */

@font-face {
  font-family: Pretendard-Light;
  src: url('./fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('./fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Medium;
  src: url('./fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Bold;
  src: url('./fonts/Pretendard-Bold.woff') format('woff');
}

/* Colours --------------------------------- */

:root {
  --text-color: #222327;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #3f93fa;
}

/* Default --------------------------------- */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Structrue --------------------------------- */

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Nav --------------------------------- */

.nav_logo img {
  width: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.myLogo {
  font-size: 24px;
  font-family: Pretendard-Medium;
  color: var(--text-color);
  letter-spacing: 3px;
}

.nav_menu {
  display: flex;
  font-family: Pretendard-Regular;
  font-size: 14px;
  margin: 32px;
  padding-left: 0;
  padding-top: 3px;
}

.nav_menu li {
  margin: 22px;
  border-bottom: transparent solid 2px;
  padding-bottom: 8px;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.nav_menu li a {
  color: var(--text-color);
  text-decoration: none;
}

.nav_menu li:hover {
  border-bottom: var(--accent-color) solid 2px;
}

.nav_menu a.active {
  border-bottom: transparent solid 2px;
  padding-bottom: 8px;
  border-bottom: var(--accent-color) solid 2px;
}

.nav_deco img {
  width: 40px;
  margin-top: 20px;
}

/* Hamburger Menu*/

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 24px;
}

/* Hero --------------------------------- */

.hero {
  overflow: visible;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 7rem 2rem;
}

.main_title {
  font-family: Pretendard-Regular;
  text-align: center;
  font-size: 50px;
  line-height: 160%;
  color: var(--text-color);
  margin: auto;
  color: var(--text-color);
}

.project_arrow {
  font-size: 14px;
  margin-top: 3rem;
  height: 30px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Pretendard-Medium;
  letter-spacing: 2px;
  border: none;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Project --------------------------------- */

.project_container {
  font-family: Pretendard-Light;
  display: flex;
  margin-bottom: 160px;
}

.project_dis {
  margin: 20px 0px;
}

.project_dis h1 {
  color: var(--text-color);
  margin-bottom: 12px;
}

.project_dis p {
  color: var(--text-color);
}

.project_1 {
  margin-right: 14px;
  width: 50%;
  height: auto;
}

.project_2 {
  margin-left: 14px;
  width: 50%;
  height: auto;
}

.project_1 img,
.project_2 img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Footer --------------------------------- */

.social_link,
.copyright {
  font-family: Pretendard-Regular;
  font-size: 12px;
  color: #c8c9cb;
  text-align: center;
  letter-spacing: 0.4px;
}

.social_link svg {
  width: 24px;
  height: 24px;
  margin: 1rem;
}

.copyright {
  margin: 2rem;
}

.footer {
  background-color: #fafafa;
  padding: 4rem;
}

.mail path:hover {
  fill: var(--accent-color);
}

/* 페이드 효과 */
.top_fadeIn {
  animation-name: example;
  animation-duration: 2s;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.bottom_fadeIn {
  animation-name: example2;
  animation-duration: 2s;
  position: relative;
  opacity: 0; /* 초기에 투명도를 0으로 설정 */
  top: 30px; /* 초기에 상단으로 이동한 상태로 설정 */
  animation-fill-mode: forwards; /* 애니메이션이 끝난 후 상태를 유지하도록 설정 */
}

/* 각 요소에 대한 지연 시간을 설정하여 순차적으로 나타나도록 함 */
.bottom_fadeIn:nth-child(1) {
  animation-delay: 0.2s;
}
.bottom_fadeIn:nth-child(2) {
  animation-delay: 0.4s;
}
.bottom_fadeIn:nth-child(3) {
  animation-delay: 0.6s;
}
/* ... 추가적인 요소에 대한 지연 시간 설정 */

@keyframes example2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  /* Nav --------------------------------- */

  .nav_logo img {
    width: 60px;
  }

  .navbar .navbar_toggleBtn {
    padding: 20px 0px;
  }

  /* Hamburger Menu*/
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
  }

  /* fixed nav bar */
  .navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_logo {
    margin-left: 1rem;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .nav_deco {
    display: none;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .nav_menu.active {
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 10rem;
  }

  .nav_menu li:hover {
    border-bottom: 2px solid transparent;
  }

  .nav_menu a:hover {
    border-bottom: 2px solid var(--accent-color);
  }

  /* modal */
  .modal-content {
    width: 80%;
  }
  /* Hero --------------------------------- */

  .hero {
    margin: 150px 0px 60px 0px;
    padding: 0px;
  }

  .main_title {
    font-family: Pretendard-Regular;
    font-style: normal;
    font-size: 24px;
    line-height: 160%;
  }

  /* Project --------------------------------- */

  .project_container {
    display: block;
  }

  .project_1,
  .project_2 {
    width: 100%;
    margin: 0px 0px 80px 0px;
  }

  /* Footer --------------------------------- */
  .mail path {
    fill: #101010;
  }

  .copyright {
    margin: 1rem 0rem;
  }
}
