.inter_1,
.inter_2,
.inter_3,
.inter_4 {
  display: flex;
  justify-content: center;
}

.video_size {
  width: 80%;
}

.casestudy_1_dis {
  padding: 40px 0px;
  width: 80%;
  max-width: 860px;
  margin: auto;
  color: var(--black-text-color);
  font-family: Pretendard-Regular;
  font-size: 18px;
}

/* Font Style */
.highlight_1 {
  margin-bottom: 30px;
}

.highlight_1 span {
  color: rgb(237, 178, 16);
}

.casestudy_1_dis span {
  font-family: Pretendard-Bold;
}

.casestudy_1_dis h1 {
  font-family: Pretendard-Bold;
  margin-bottom: 16px;
}

.casestudy_1_dis li {
  margin-bottom: 8px;
}

.casestudy_1_dis p {
  font-family: Pretendard-Light;
  line-height: 160%;
}

.overview,
.research {
  margin-bottom: 100px;
}
.overveiw_layout ul {
  padding: 0px 100px 0px 0px;
}

/* MOBILE, ~ 767 */
@media screen and (max-width: 767px) {
  .video_size {
    width: 100%;
  }

  .casestudy_1_dis {
    width: 90%;
    padding-top: 85px;
  }
}
